
html {
    background: url('../../assets/images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.spinner-container {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
}

div .championData {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.championData > div {
    padding: 10px;
    width: 25%;
}

.championInfo {
    display: flex;
    flex-direction: column;

    div {
        margin: 0 auto;
    }
}

.championInfo:hover {
    box-shadow: 1px 1px 8px 4px whitesmoke;
    cursor: pointer;
}

.championImage > img {
    max-width: 100%;
}

.championName {
    width: 100%;
    font-size: 0.8em;
}

.championName:hover {
    box-shadow: 5px 5px 8px -1px #000000;
}

.search-bar {
    color: #fff;
    background-color: #42a5f5;
    width: 100%;
    line-height: 56px;
}

#page-numbers {
    display: flex;
    justify-content: center;
}

.page-numbers {
    margin: 0px 10px;
}