
// #root {
//     background-image: url('../../assets/images/background.jpg');
//     background-size: 100vw 100vh;
//     background-repeat: no-repeat;
//     overflow: hidden;
// }

div .championData {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.championData > div {
    padding: 10px;
    width: 25%;
}

.championInfo {
    display: flex;
    flex-direction: column;

    div {
        margin: 0 auto;
    }
}

.championName {
    width: 100%;
    max-width: 120px;
    font-size: 0.8em;
}

.search-bar {
    color: #fff;
    background-color: #42a5f5;
    width: 100%;
    line-height: 56px;
}